Keys/Keys.txt
Admin-Portal/backend/node_modules
Admin-Portal/frontend/node_modules
chatbot/venv310
.env
venv
chatbot/cache
chatbot/__pycache__
chatbot/data/bitext_embeddings.pkl
chatbot/logs/chatbot_20250712.log
chatbot/config/rapid-strength-394704-b813738d1cb9.json
chatbot/logs/chatbot_20250713.log
chatbot/logs/chatbot_20250717.log
chatbot/logs/chatbot_20250718.log
chatbot/logs/chatbot_20250720.log
chatbot/logs/chatbot_20250721.log
chatbot/logs/chatbot_20250724.log
