Keys/Keys.txt
Admin-Portal/backend/node_modules
Admin-Portal/frontend/node_modules
chatbot/venv310
.env
venv
chatbot/cache
chatbot/__pycache__
chatbot/data/bitext_embeddings.pkl
chatbot/logs/chatbot_20250712.log
