# OpenAI Configurations
AI_PROVIDER = DEEPSEEK
CHAT_MODEL = GPT-3.5-TURBO
API_KEY=sk-2c9c383d57b3400c943244f05f967bfd
API_BASE=https://api.deepseek.com/v1

# DB Configurations
# DATABASE_URL=postgresql://postgres:12345678@localhost:5432/assistant
DATABASE_URL=postgresql://postgres:Bitazoft123@database-1.cqzq0suwybt5.us-east-1.rds.amazonaws.com:5432/assistant
#DATABASE_URL = postgresql://neondb_owner:npg_IdJov3cGz4lg@ep-empty-star-a1qg2if4-pooler.ap-southeast-1.aws.neon.tech/assistant


# Logging Configuration
LOG_LEVEL=INFO
DEBUG_MODE=false
ENVIRONMENT=development
RAG_ENABLED=false
LANGUAGE_DETECTION_ENABLED=false

# AWS Credentials
AWS_BUCKET_NAME="whatsapp-chatbot-ai" 
AWS_ACCESS_KEY_ID="AKIA5VVDSFHOEXW3FBVN"
AWS_SECRET_ACCESS_KEY="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"
AWS_REGION="ap-southeast-1"

# ================================
# WhatsApp Cloud API Credentials
# ================================

# Your WhatsApp Business Account Access Token
# Get this from Facebook Business -> WhatsApp -> API Setup
WHATSAPP_CONFIG_1_PHONE_NUMBER_ID=762208246965801
WHATSAPP_CONFIG_1_ACCESS_TOKEN=EAAcctMPwTA8BPFilMNELCwZAGNkdzHhAZB9B5Wt6976bRGbH9qVyGcxGTxUYCYcrrjJDiVLMJ8hoj7R52hfTO3faq3T27mAQJY2hZBgVGfObkvkHs64mE61mAna9WK87fwS3dSoKmqMwLdMA2FNG9zAorJn44YoWvElFygNbCmF9VHqSrjtzyOZBmh3YVgZDZD
WHATSAPP_CONFIG_1_VERIFY_TOKEN=business-app
WHATSAPP_CONFIG_1_BUSINESS_ACCOUNT_ID=1471168067581781

WHATSAPP_CONFIG_2_PHONE_NUMBER_ID=653329094540754
WHATSAPP_CONFIG_2_ACCESS_TOKEN=EAAQA9ISZBOqIBPO8DprKXQg9whrVzrWzZB6IevMN8zEPEPixMTaNJ1wBZBnhKAV0hYzlj6ILcuUGG3pTYUvz1vkmgNogpWZCxlOOvY5DCZCY8ZBaTTcgQlGoXraZAjo6Jy1kGUX9e6UUZARIA2jGZC57KFLZCd2sZAwY5bJXZBsp2ffU5wFVeqjiI2nAlZCN3TfFoyAZDZD
WHATSAPP_CONFIG_2_VERIFY_TOKEN=hasaru-pari
WHATSAPP_CONFIG_2_BUSINESS_ACCOUNT_ID=1085396090211964

# WHATSAPP_CONFIG_3_PHONE_NUMBER_ID=987654321098765
# WHATSAPP_CONFIG_3_ACCESS_TOKEN=EAAanotherToken456...
# WHATSAPP_CONFIG_3_VERIFY_TOKEN=business-app-3
# WHATSAPP_CONFIG_3_BUSINESS_ACCOUNT_ID=54321